
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FuelUp</title>
    <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="loginbox">
        <h2>FuelUp Login</h2>
            <form method="post">
                <div class="form-group logincontrol">
                    <input class="form-control" type="text" name="username" placeholder="Username" />
                </div>
                <div class="form-group logincontrol">
                    <input class="form-control" type="password" name="password" placeholder="Password" />
                </div>
                <div class="form-group logincontrol">
                    <input type="checkbox" name="rememberme" />
                    <label>Remember Me</label>
                </div>
                <button type="submit" class="btn btn-primary loginbutton">Login</button>
            </form>
        <div class="logincontrol registercontrol">
            <span class="registertext">New Here? @Html.ActionLink("Sign Up \u2192", "Register")</span>
        </div>
    </div>
</body>
</html>
