@{

    Layout = null;
}
<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FuelUp</title>
        @Styles.Render("~/Content/css")

        <!-- Internet Explorer HTML5 enabling script: -->
        <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <style type="text/css">

            .clear {
                zoom: 1;
                display: block;
            }

        </style>

    <![endif]-->
    </head>
    <body>
       <section id="page">
           <header>
               <h1>FuelUp</h1>
               <h3>Eloquently track your fuel ups and fuel economy.</h3>

               <nav class="clear">
                   <ul>
                       <li><a href="#about">What Is FuelUp?</a></li>
                       <li><a href="#features">What Can FuelUp Do?</a></li>
                   </ul>
               </nav>
           </header>
           <div class="line"></div>
           <article id="about">
               <div class="articleBody clear">
                   <h1>What is FuelUp?</h1>
                   <div class="">
                       FuelUp allows you to keep track of your fuel ups and fuel economy from the convience of your mobile device or computer. It has been crafted to be <b>easy</b>, <b>conveient</b>, and <b>modern</b>.
                   </div>
               </div>
           </article>
           <div class="line"></div>
           <article id="features">
               <h1>What Can FuelUp Do?</h1>
               FuelUp can do a lot.
               <ul>
                   <li>Track fuel ups of all of your vehicles.</li>
                   <li>View your fuel ups from any time</li>
                   <li>Track fuel economy and use robust reporting to track changes in fuel economy over mileage, season, and more!</li>
               </ul>
               It's neato burrito!
               this is a test
               
           </article>
    </section>
    </body>
</html>